server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    lease-renewal-interval-in-seconds: 30

spring:
  security:
    oauth2:
      client:
        #возможно свойство gateway нужно будет удалить
        #gateway:
          #provider:
          #keycloak:
          #issuer-uri: http://server:8890/realms/project-realm
        registration:
          keycloak-spring-gateway-client:
            provider: keycloak
            scope: openid
            client-id: gateway-client
            client-secret: Gyo45aIz0hUFYz2pgN3uwevEVvUDvOhT
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:8080/login/oauth2/code/gateway-client"

                          #http://localhost:8080/login/oauth2/code/gateway-client
        provider:
          keycloak:
            token-uri: http://localhost:8890/realms/project-realm/protocol/openid-connect/token
            authorization_uri: http://localhost:8890/realms/project-realm/protocol/openid-connect/auth
            jwks_uri: http://localhost:8890/realms/project-realm/protocol/openid-connect/certs
            userinfo_uri: http://localhost:8890/realms/project-realm/protocol/openid-connect/userinfo
            #Заменить и посмотреть на "i"
            issuer-uri: http://localhost:8890/realms/project-realm #Изменил на i
  cloud:
    gateway:
      default-filters:
        - TokenRelay
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true

logging:
  level:
    org:
      springframework:
        security:
          web: DEBUG

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include:
          - bindings
          - "*"