server:
  port: 0

spring:
  datasource:
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5432/postgres

  security:
    oauth2:
      resourceserver:
        jwt:
          #issuer-uri: http://localhost:8890/realms/project-realm
          jwk-set-uri: http://localhost:8890/realms/project-realm/protocol/openid-connect/certs

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    lease-renewal-interval-in-seconds: 30
